

.container
{
position: relative;   
margin: auto;
padding: auto;
height: 645px;
width: 320px;
justify-content: center;
text-align: center;
/*border: white;
box-shadow: 2px 2px 2px 2px whitesmoke; */
}

.material-icons
{
    position:relative;
    justify-content: center;
    left: -105px;
    top: 11px;
    color: grey;
    font-size: x-large;
}

.material-icons:hover{
    color: black;
    cursor:auto;
}

.nav-text1
{
    position: relative;
    color: grey;
    font-size: medium;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    left: -105px;
    top: 7px;
}

.fa-angle-double-right
{
    position: relative;
    right: 95px;
    top: 10px;
    color: gray;
}

.fa-angle-double-right:hover
{
    color: blue;
    cursor: pointer;
}


.course
{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: gray;
    right: -10px;
    top: -35px;
    font-size: x-large;
    font-weight: normal;
}

.course:hover
{
    color: blue;
    cursor: pointer;
}


a
{
    text-decoration: none;
}


.course-txt
{
    position: relative;
    right:92px;
    top: -42px;
    font-weight: bolder;
}



.dropdown
{
    width: 24vw;
    height: 8vh;
    position: relative;
    bottom: 0.6vh;
    left: -0.1vw;
    top: -38px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    border: 1.5px solid black;
    border-radius: 5px;
}

.droptxt
{
    text-align: left;
    justify-content:center;
    font-size: medium;
}

.search
    {
        position: relative;
        bottom: 65px;
        width: 23.5vw;
        height: 8vh;
        left: -0.1vw;
        font-family: 'Times New Roman', Times, serif;
        color: black;
        border: 1.5px solid black;
        border-radius: 4px;
    }



button
{
position: relative;
left: 135.8px;
height: 49.2px;
width: 30px;
top: -115px;
cursor: pointer;
}

.image
{
    position: relative;
    right: 3px;
    border: 2px;
    border-radius: 10px;
    top: -90px;
}


.text1
{
    position: relative;
    color: aliceblue;
    background-image: radial-gradient(green,rgb(3, 68, 3));
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid;
    border-radius: 4px;
    left: -70px;
    top: -180px;
}


.fa-bookmark
{
    position: relative;
    top: -175px;
    left: 55px;
    color: white;
}

.fa-bookmark:hover
{
    cursor: pointer;
    color: black;
}

.fullstack
{
    position: relative;
    right: -6px;
    bottom: 135px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: rgb(48, 46, 46);
    text-align: left;
}

.fullstack:hover
{
    color: red;
}

.albert
{
    position: relative;
    right: 105px;
    top: -156px;
    font-size: small;
    color: grey;
    font-family:'Times New Roman', Times, serif;
}

.dollar
{
    position: relative;
    right: 120px;
    top: -170px;
    color: blue;
}

.hr1
{
    position: relative;
    width: 300px;
    left: -5px;
    top: -170px;
}



.fa-clock-o
{
    position: relative;
   right:45px;
   bottom:165px;
}

.clock-txt
{
    position: relative;
    right:40px;
    bottom:168px;
    font-weight: bolder;
    color: grey;
}

.fa-thumbs-o-up
{
   position: relative;
   right: 10px;
   bottom: 165px;
}

.like-txt
{
    position: relative;
    right:4px;
    bottom:168px;
    font-weight: bolder;
    color: rgb(148, 142, 142);
}


.fa-thumbs-o-up:hover
{
    color: red;
    cursor: pointer;
}

/*narrow mobile*/

@media screen and (max-width:390px) and (max-height:844px)
{
    .dropdown
    {
       
        position: relative;
        height: 50px;
        width: 300px;
        bottom: 0.6vh;
        left: 2px;
        top: -38px;
        border-radius: 5px;
    }

    .droptxt
{
    text-align: left;
    justify-content:center;
    font-size: small;
}


    .search
    {
        position: relative;
        bottom: 65px;
        width: 294px;
        height: 50px;
        left: 2px;
        font-family: 'Times New Roman', Times, serif;
        color: black;
        border: 1.5px solid black;
        border-radius: 4px;
    }

 button
{
position: relative;
left: 135.8px;
height: 51px;
width: 30px;
top: -118px;
cursor: pointer;
}

.image
{
    position: relative;
    right: -2px;
    border: 2px;
    border-radius: 10px;
    top: -70px;
}

.fullstack
{
    position: relative;
    right: -10px;
    bottom: 90px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: rgb(48, 46, 46);
    text-align: left;
}

.albert
{
    position: relative;
    right: 105px;
    top: -100px;
    font-size: small;
    color: grey;
    font-family:'Times New Roman', Times, serif;
}

.dollar
{
    position: relative;
    right: 120px;
    top: -105px;
    color: blue;
}

.hr1
{
    position: relative;
    width: 300px;
    left: -5px;
    top: -85px;
}

.fa-clock-o
{
   position: relative;
   right:45px;
   bottom:60px;
}

.clock-txt
{
    position: relative;
    right:30px;
    bottom:62px;
    font-weight: bolder;
    color: grey;
}

.fa-thumbs-o-up
{
   position: relative;
   right: 135px;
   bottom:20px;
}

.like-txt
{
    position: relative;
    right:120px;
    bottom:22px;
    font-weight: bolder;
    color: rgb(148, 142, 142);
}

}


/*mobile*/

@media screen and (max-width:414px) and (max-height:896px)
{

    .dropdown
    {
       
        position: relative;
        height: 50px;
        width: 300px;
        bottom: 0.6vh;
        left: 2px;
        top: -38px;
        border-radius: 5px;
    }

    .droptxt
    {
        text-align: left;
        justify-content:center;
        font-size: small;
    }

    .search
    {
        position: relative;
        bottom: 65px;
        width: 294px;
        height: 50px;
        left: 2px;
        font-family: 'Times New Roman', Times, serif;
        color: black;
        border: 1.5px solid black;
        border-radius: 4px;
    }

 button
{
position: relative;
left: 135.8px;
height: 51px;
width: 30px;
top: -118px;
cursor: pointer;
}

.image
{
    position: relative;
    right: -2px;
    border: 2px;
    border-radius: 10px;
    top: -70px;
}

.fullstack
{
    position: relative;
    right: -10px;
    bottom: 90px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: rgb(48, 46, 46);
    text-align: left;
}

.albert
{
    position: relative;
    right: 105px;
    top: -100px;
    font-size: small;
    color: grey;
    font-family:'Times New Roman', Times, serif;
}

.dollar
{
    position: relative;
    right: 120px;
    top: -105px;
    color: blue;
}

.hr1
{
    position: relative;
    width: 300px;
    left: -5px;
    top: -85px;
}

.fa-clock-o
{
   position: relative;
   right:45px;
   bottom:60px;
}

.clock-txt
{
    position: relative;
    right:30px;
    bottom:62px;
    font-weight: bolder;
    color: grey;
}

.fa-thumbs-o-up
{
   position: relative;
   right: 135px;
   bottom:20px;
}

.like-txt
{
    position: relative;
    right:120px;
    bottom:22px;
    font-weight: bolder;
    color: rgb(148, 142, 142);
}

}


